name: ci

on:
  push:

  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

jobs:
  fmt:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.9.0
      - run: devbox run fmt-check

  test:
    strategy:
      matrix:
        os: 
          - macos-14
          # - ubuntu-latest
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.9.0
      - name: Download models
        run: devbox run download-models
      - name: Build
        run: devbox run build
      - name: Test
        run: devbox run test

  # deploy:
  #   permissions:
  #     pages: write
  #     id-token: write
  #   environment:
  #     name: github-pages
  #     url: ${{ steps.deployment.outputs.page_url }}
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/main'
  #   steps:
  #     - name: Deploy to GitHub Pages
  #       id: deployment
  #       uses: actions/deploy-pages@v1
